@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u85
{
	z-index: 2;
	width: 380px;
	padding-bottom: 2px;
}

#u87
{
	z-index: 5;
	width: 203px;
	height: 46px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 89px;
}

#pu247
{
	width: 0.01px;
	margin-top: 10px;
	position: relative;
}

#u247
{
	z-index: 14;
	width: 380px;
	height: 40px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #00FF00;
	opacity: 0.42;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	filter: alpha(opacity=42);
	position: relative;
	margin-right: -10000px;
}

#u247.MuseLinkActive
{
	border-style: none;
	width: 381px;
	height: 41px;
	min-height: 1px;
	margin: 0px -9999px 1px 0px;
}

#u240-4
{
	z-index: 16;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 20px;
}

#ppu242-4
{
	width: 0.01px;
	margin-top: 13px;
	position: relative;
}

#pu242-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u242-4
{
	z-index: 20;
	display: block;
	vertical-align: top;
	margin-left: 20px;
	position: relative;
}

#u233
{
	z-index: 15;
	width: 380px;
	height: 245px;
	border-style: none;
	border-color: transparent;
	position: relative;
	top: -2px;
	margin-bottom: -2px;
	background: #FFFFFF url("../images/girelle-u233-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u244-3
{
	z-index: 24;
	width: 376px;
	min-height: 179px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 485px;
}

#pu101
{
	width: 0.01px;
	position: relative;
}

#u101
{
	z-index: 3;
	width: 189px;
	padding-bottom: 6px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u105-4
{
	z-index: 6;
	width: 190px;
	margin-right: -10000px;
	margin-top: 11px;
	left: -1px;
}

#u104
{
	z-index: 4;
	width: 189px;
	padding-bottom: 6px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 190px;
}

#u109-4
{
	z-index: 10;
	width: 190px;
	margin-right: -10000px;
	margin-top: 11px;
	left: -1px;
}

#page .verticalspacer
{
	clear: both;
}

