@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u85
{
	z-index: 2;
	width: 380px;
	padding-bottom: 2px;
}

#u87
{
	z-index: 5;
	width: 203px;
	height: 46px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 89px;
}

#pu515
{
	width: 0.01px;
	margin-top: 10px;
	position: relative;
}

#u515
{
	z-index: 14;
	width: 380px;
	height: 40px;
	border-color: #000000;
	background-color: #FCEE21;
	opacity: 0.42;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	filter: alpha(opacity=42);
	position: relative;
	margin-right: -10000px;
}

#u500-4
{
	z-index: 15;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 20px;
}

#u501-4
{
	z-index: 19;
	display: block;
	vertical-align: top;
	margin-left: 20px;
	margin-top: 13px;
	position: relative;
}

#u554
{
	z-index: 23;
	width: 374px;
	height: 283px;
	border-style: none;
	border-color: transparent;
	margin-top: 12px;
	position: relative;
	background: #FFFFFF url("../images/esche.png") no-repeat left top;
	background-size: cover !important;
}

#pu101
{
	width: 0.01px;
	margin-top: 6px;
	position: relative;
}

#u101
{
	z-index: 3;
	width: 189px;
	padding-bottom: 6px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u105-4
{
	z-index: 6;
	width: 190px;
	margin-right: -10000px;
	margin-top: 11px;
	left: -1px;
}

#u104
{
	z-index: 4;
	width: 189px;
	padding-bottom: 6px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 190px;
}

#u109-4
{
	z-index: 10;
	width: 190px;
	margin-right: -10000px;
	margin-top: 11px;
	left: -1px;
}

#page .verticalspacer
{
	clear: both;
}

