@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u160
{
	z-index: 2;
	width: 380px;
	padding-bottom: 2px;
}

#u164
{
	z-index: 3;
	width: 203px;
	height: 46px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 89px;
}

#u136-4
{
	z-index: 5;
	display: block;
	vertical-align: top;
	margin-left: 215px;
	margin-top: 406px;
	position: relative;
}

#u129
{
	z-index: 4;
	width: 380px;
	height: 521px;
	border-style: none;
	border-color: transparent;
	position: relative;
	top: -443px;
	margin-bottom: -443px;
	background: transparent url("../images/_i5d4861-tsuru-print-u129-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#page .verticalspacer
{
	clear: both;
}

