#u85
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u87
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/logo%20daiwa.png") no-repeat center center;
	background-size: cover !important;
}

#u101,#u104
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #000000;
	position: relative;
}

#u105-4,#u109-4
{
	position: relative;
}

#u105-4_img,#u109-4_img
{
	display: block;
	vertical-align: top;
}

